<div class="tp-shop-widget-content">
  <div class="tp-shop-widget-categories">
    <ul>
      <li *ngFor="let subCategory of filteredSubCategories">
        <a
          (click)="handleCategoryRoute(subCategory.ad)"
          [ngClass]="{
            'cursor-pointer': true,
            active:
              activeQuery === subCategory.ad.toLowerCase().replace('&', '').split(' ').join('-')
          }"
        >
          {{ subCategory.ad }}
          <span>1</span> <!-- Placeholder for count; adjust as necessary -->
        </a>
  
        