<div class="tp-shop-widget-content">
  <div class="tp-shop-widget-categories">
    
    <!-- Back button to return to main category, visible only in subcategory view -->
    <button *ngIf="isSubCategoryView" (click)="goBackToMainCategory()">
      ← Geri Dön
    </button>

    <ul>
      <li *ngFor="let subCategory of filteredSubCategories">
        <a
          (click)="handleCategoryRoute(subCategory.ad)"
          [ngClass]="{
            'cursor-pointer': true,
            active:
              activeQuery === subCategory.ad.toLowerCase().replace('&', '').split(' ').join('-')
          }"
        >
          {{ subCategory.ad }}
          <span>{{ subCategory.productCount }}</span>
        </a>
      </li>
    </ul>
  </div>
</div>
