USE [master]
GO
/****** Object:  Database [BYCO]    Script Date: 3/3/2024 12:08:12 AM ******/
CREATE DATABASE [BYCO]

USE [BYCO]
GO
/****** Object:  Table [dbo].[Adresler]    Script Date: 3/3/2024 12:08:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Adresler](
	[adres_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[adres] [nvarchar](300) NULL,
PRIMARY KEY CLUSTERED 
(
	[adres_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AuthRecord]    Script Date: 3/3/2024 12:08:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AuthRecord](
	[authrecord_id] [int] IDENTITY(1,1) NOT NULL,
	[token] [nvarchar](250) NOT NULL,
	[tokenexpiredate] [datetime] NOT NULL,
	[user_id] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Discount]    Script Date: 3/3/2024 12:08:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Discount](
	[discount_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[discount_rate] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[discount_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Kategori]    Script Date: 3/3/2024 12:08:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kategori](
	[kategori_id] [int] IDENTITY(1,1) NOT NULL,
	[parent_id] [int] NULL,
	[ad] [nvarchar](300) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[kategori_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KimlikNo]    Script Date: 3/3/2024 12:08:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KimlikNo](
	[kimlik_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[kimlik_no] [nvarchar](12) NULL,
PRIMARY KEY CLUSTERED 
(
	[kimlik_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ozellik]    Script Date: 3/3/2024 12:08:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ozellik](
	[ozellik_id] [int] IDENTITY(1,1) NOT NULL,
	[urun_id] [int] NOT NULL,
	[ozellik] [nvarchar](200) NOT NULL,
	[aciklama] [nvarchar](300) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ozellik_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Proje]    Script Date: 3/3/2024 12:08:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Proje](
	[proje_id] [int] IDENTITY(1,1) NOT NULL,
	[ad] [nvarchar](50) NOT NULL,
	[lokasyon] [nvarchar](300) NOT NULL,
	[tamamlanma] [nvarchar](300) NOT NULL,
	[alan] [nvarchar](300) NOT NULL,
	[isveren] [nvarchar](300) NOT NULL,
	[aciklama] [nvarchar](300) NOT NULL,
	[img] [nvarchar](300) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[proje_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Satis]    Script Date: 3/3/2024 12:08:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Satis](
	[satis_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[urun_id] [int] NOT NULL,
	[tarih] [nvarchar](200) NOT NULL,
	[adet] [int] NOT NULL,
	[fiyat] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[satis_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sessions]    Script Date: 3/3/2024 12:08:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sessions](
	[session_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[session_key] [nvarchar](64) NOT NULL,
	[expiration_date] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[session_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Siparis]    Script Date: 3/3/2024 12:08:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Siparis](
	[siparis_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[adres] [nvarchar](300) NOT NULL,
	[siparis_kimlik] [nvarchar](64) NOT NULL,
	[tarih] [datetime] NOT NULL,
	[durum] [nvarchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[siparis_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SiparisSatis]    Script Date: 3/3/2024 12:08:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SiparisSatis](
	[siparissatis_id] [int] IDENTITY(1,1) NOT NULL,
	[siparis_id] [int] NOT NULL,
	[satis_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[siparissatis_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Urun]    Script Date: 3/3/2024 12:08:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Urun](
	[urun_id] [int] IDENTITY(1,1) NOT NULL,
	[stok] [int] NOT NULL,
	[ad] [nvarchar](300) NOT NULL,
	[aciklama] [nvarchar](300) NOT NULL,
	[kategori_id] [int] NOT NULL,
	[img] [nvarchar](300) NOT NULL,
	[fiyat] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[urun_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 3/3/2024 12:08:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[user_id] [int] IDENTITY(1,1) NOT NULL,
	[ad] [nvarchar](50) NOT NULL,
	[soyad] [nvarchar](50) NOT NULL,
	[email] [nvarchar](100) NOT NULL,
	[password] [nvarchar](100) NOT NULL,
	[telefon] [nvarchar](25) NOT NULL,
	[tip] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VergiNums]    Script Date: 3/3/2024 12:08:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VergiNums](
	[vergi_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[vergi_no] [nvarchar](12) NULL,
PRIMARY KEY CLUSTERED 
(
	[vergi_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Adresler] ON 

INSERT [dbo].[Adresler] ([adres_id], [user_id], [adres]) VALUES (1, 7, N'byco adres')
INSERT [dbo].[Adresler] ([adres_id], [user_id], [adres]) VALUES (2, 6, N'Bu bir denemedir')
SET IDENTITY_INSERT [dbo].[Adresler] OFF
GO
SET IDENTITY_INSERT [dbo].[Discount] ON 

INSERT [dbo].[Discount] ([discount_id], [user_id], [discount_rate]) VALUES (1, 7, 20)
SET IDENTITY_INSERT [dbo].[Discount] OFF
GO
SET IDENTITY_INSERT [dbo].[Kategori] ON 

INSERT [dbo].[Kategori] ([kategori_id], [parent_id], [ad]) VALUES (1, 0, N'Genel')
INSERT [dbo].[Kategori] ([kategori_id], [parent_id], [ad]) VALUES (2, 1, N'Kablo')
INSERT [dbo].[Kategori] ([kategori_id], [parent_id], [ad]) VALUES (3, 1, N'Kablo Bağı')
SET IDENTITY_INSERT [dbo].[Kategori] OFF
GO
SET IDENTITY_INSERT [dbo].[KimlikNo] ON 

INSERT [dbo].[KimlikNo] ([kimlik_id], [user_id], [kimlik_no]) VALUES (1, 3, N'12345678910')
INSERT [dbo].[KimlikNo] ([kimlik_id], [user_id], [kimlik_no]) VALUES (2, 5, N'12345678910')
SET IDENTITY_INSERT [dbo].[KimlikNo] OFF
GO
SET IDENTITY_INSERT [dbo].[Ozellik] ON 

INSERT [dbo].[Ozellik] ([ozellik_id], [urun_id], [ozellik], [aciklama]) VALUES (1, 1, N'ozellik', N'aciklama')
INSERT [dbo].[Ozellik] ([ozellik_id], [urun_id], [ozellik], [aciklama]) VALUES (2, 2, N'ozellik', N'aciklama')
INSERT [dbo].[Ozellik] ([ozellik_id], [urun_id], [ozellik], [aciklama]) VALUES (3, 3, N'ozellik', N'aciklama')
SET IDENTITY_INSERT [dbo].[Ozellik] OFF
GO
SET IDENTITY_INSERT [dbo].[Satis] ON 

INSERT [dbo].[Satis] ([satis_id], [user_id], [urun_id], [tarih], [adet], [fiyat]) VALUES (1, 7, 1, N'2/3/2024 2:36:41 AM', 1, NULL)
INSERT [dbo].[Satis] ([satis_id], [user_id], [urun_id], [tarih], [adet], [fiyat]) VALUES (2, 7, 6, N'2/3/2024 2:36:41 AM', 1, NULL)
INSERT [dbo].[Satis] ([satis_id], [user_id], [urun_id], [tarih], [adet], [fiyat]) VALUES (3, 7, 10, N'2/3/2024 2:36:41 AM', 2, NULL)
SET IDENTITY_INSERT [dbo].[Satis] OFF
GO
SET IDENTITY_INSERT [dbo].[Sessions] ON 

INSERT [dbo].[Sessions] ([session_id], [user_id], [session_key], [expiration_date]) VALUES (1, 6, N'9f6d70f1e65d8e9a62fb5b341df77ec832c0b6c1a83eb958ebd1ac424df6a460', CAST(N'2024-02-03T23:20:44.947' AS DateTime))
INSERT [dbo].[Sessions] ([session_id], [user_id], [session_key], [expiration_date]) VALUES (2, 6, N'af958dfa3aea10ee783fd337edf3a4b4616ff199c837932cb4f0460730c81327', CAST(N'2024-02-03T23:37:02.377' AS DateTime))
INSERT [dbo].[Sessions] ([session_id], [user_id], [session_key], [expiration_date]) VALUES (3, 6, N'a9e419b5f01b2c4cd359539e954b286b5d96b3434a036f9cfeac08699d8a082f', CAST(N'2024-02-03T23:41:02.593' AS DateTime))
SET IDENTITY_INSERT [dbo].[Sessions] OFF
GO
SET IDENTITY_INSERT [dbo].[Siparis] ON 

INSERT [dbo].[Siparis] ([siparis_id], [user_id], [adres], [siparis_kimlik], [tarih], [durum]) VALUES (3, 0, N'byco adres', N'8b88e15692142bfd48d845dba0c2a8040874ad93b1ef52a4232187f0679bf609', CAST(N'2024-02-03T02:36:41.033' AS DateTime), N'hazirlaniyor')
INSERT [dbo].[Siparis] ([siparis_id], [user_id], [adres], [siparis_kimlik], [tarih], [durum]) VALUES (4, 0, N'Bu bir denemedir', N'5f3a2ef97860a6639e8afe10334b34514b9a7a4280972cd3723d2f07845767e7', CAST(N'2024-02-23T11:26:48.973' AS DateTime), N'hazirlaniyor')
INSERT [dbo].[Siparis] ([siparis_id], [user_id], [adres], [siparis_kimlik], [tarih], [durum]) VALUES (5, 0, N'Bu bir denemedir', N'5f3a2ef97860a6639e8afe10334b34514b9a7a4280972cd3723d2f07845767e7', CAST(N'2024-02-23T11:29:09.783' AS DateTime), N'hazirlaniyor')
SET IDENTITY_INSERT [dbo].[Siparis] OFF
GO
SET IDENTITY_INSERT [dbo].[SiparisSatis] ON 

INSERT [dbo].[SiparisSatis] ([siparissatis_id], [siparis_id], [satis_id]) VALUES (1, 3, 1)
INSERT [dbo].[SiparisSatis] ([siparissatis_id], [siparis_id], [satis_id]) VALUES (2, 3, 2)
INSERT [dbo].[SiparisSatis] ([siparissatis_id], [siparis_id], [satis_id]) VALUES (3, 3, 3)
SET IDENTITY_INSERT [dbo].[SiparisSatis] OFF
GO
SET IDENTITY_INSERT [dbo].[Urun] ON 

INSERT [dbo].[Urun] ([urun_id], [stok], [ad], [aciklama], [kategori_id], [img], [fiyat]) VALUES (12, 10, N'PD-APV - (TL/Mt)', N'CATV, CCTV, kablolu TV ve UYDU sistemlerinde düsük zayiflama gerektiren yerlerde dagitim kablosu olarak kullanilirlar.', 4, N'https://static.ticimax.cloud/cdn-cgi/image/width=-,quality=85/58078/uploads/urunresimleri/buyuk/pd-apv-41a9-3.jpg', CAST(24.60 AS Decimal(10, 2)))
INSERT [dbo].[Urun] ([urun_id], [stok], [ad], [aciklama], [kategori_id], [img], [fiyat]) VALUES (24, 12, N'silinecekdiger', N'silinecek olan diger bu ürün', 1, N'https://download.schneider-electric.com/files?p_Doc_Ref=PB111301&p_File_Type=rendition_369_jpg&default_image=DefaultProductImage.png', CAST(75.50 AS Decimal(10, 2)))
INSERT [dbo].[Urun] ([urun_id], [stok], [ad], [aciklama], [kategori_id], [img], [fiyat]) VALUES (25, 12200, N'GEÇMELI BUAT KLEMENS 2,5-2 (BEYAZ) - GWEST - GW 2,5-2 - ADET', N'8682408735016', 7, N'https://www.starakim.com/-11585-12-B.jpg', CAST(4.50 AS Decimal(10, 2)))
GO
SET IDENTITY_INSERT [dbo].[Urun] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([user_id], [ad], [soyad], [email], [password], [telefon], [tip]) VALUES (3, N'finnaz', N'ay', N'finnaz@ay', N'cf7fcac476fb1fa7071123dbf99b3458027ec5da449572da79b068786d8ccb03', N'5564844344', 2)
INSERT [dbo].[Users] ([user_id], [ad], [soyad], [email], [password], [telefon], [tip]) VALUES (5, N'süleyman', N'rıfkı', N'surıf@kıman.com', N'5c80565db6f29da0b01aa12522c37b32f121cbe47a861ef7f006cb22922dffa1', N'0548 125 58 23', 2)
INSERT [dbo].[Users] ([user_id], [ad], [soyad], [email], [password], [telefon], [tip]) VALUES (6, N'şevket', N'er', N'sevket@er.com', N'1140f0c5f8d9d6a756aad4cdce8d79820b6797ce6a59676e072a035b5373affd', N'531 486 25 23', 1)
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET IDENTITY_INSERT [dbo].[VergiNums] ON 

INSERT [dbo].[VergiNums] ([vergi_id], [user_id], [vergi_no]) VALUES (1, 6, N'12345678910')
INSERT [dbo].[VergiNums] ([vergi_id], [user_id], [vergi_no]) VALUES (2, 7, N'98765432110')
SET IDENTITY_INSERT [dbo].[VergiNums] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__AB6E6164E046D49C]    Script Date: 3/3/2024 12:08:12 AM ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
USE [master]
GO
