<div class="filter-container">
    <div class="filter-category" *ngFor="let filterKey of filterOptions | keyvalue">
      <div class="filter-header" (click)="toggleFilter(filterKey.key)">
        <h4>{{ filterKey.key | titlecase }}</h4>
        <span [ngClass]="{'arrow-up': isFilterOpen[filterKey.key], 'arrow-down': !isFilterOpen[filterKey.key]}"></span>
      </div>
      <div *ngIf="isFilterOpen[filterKey.key]" class="filter-body">
        <input
          type="text"
          class="filter-search"
          placeholder="{{ filterKey.key | titlecase }} ara"
          (input)="onSearch($event, filterKey.key)"
        />
        <ul class="filter-options">
          <li *ngFor="let option of filteredOptions[filterKey.key] || filterKey.value">
            <label>
              <input type="checkbox" (change)="onFilterChange(filterKey.key, option)" />
              {{ option }} <span class="option-count">({{ getOptionCount(filterKey.key, option) }})</span>
            </label>
          </li>
        </ul>
      </div>
    </div>
  </div>
  