<div *ngIf="this.type=='kullanim'">

  <h1>BYCO E-Ticaret Sitesi Gizlilik Politikası</h1>

  <p>Bu Gizlilik Politikası, BYCO E-Ticaret Sitesi'nin (bundan sonra "biz", "bizim" veya "BYCO" olarak anılacaktır) müşteri bilgilerini nasıl topladığını, kullandığını, paylaştığını ve koruduğunu açıklamaktadır.</p>

  <h2>1. Toplanan Bilgiler:</h2>

  <p>BYCO, müşterilerinden sadece gerekli olan bilgileri toplar. Bu bilgiler, kullanıcı adı, iletişim bilgileri, teslimat adresi ve ödeme bilgilerini içerebilir.</p>

  <h2>2. Bilgi Kullanımı:</h2>

  <p>BYCO, müşteri bilgilerini aşağıdaki amaçlarla kullanabilir:</p>
  <ul>
      <li>Siparişleri işleme koymak ve teslimat sağlamak.</li>
      <li>Müşteri taleplerine cevap vermek ve müşteri hizmetleri sunmak.</li>
      <li>İletişim ve pazarlama amacıyla müşterilerle iletişim kurmak.</li>
      <li>Güvenlik önlemleri uygulamak ve sahtekarlık tespiti yapmak.</li>
  </ul>

  <h2>3. Bilgi Paylaşımı:</h2>

  <p>BYCO, müşteri bilgilerini üçüncü taraflarla sadece sipariş işleme koymak, müşteri hizmetleri sağlamak, pazarlama yapmak veya yasal zorunluluklara uymak amacıyla paylaşabilir. Müşterilerin izni olmadan başka bir amaçla bilgi paylaşılmayacaktır.</p>

  <h2>4. Çerezler:</h2>

  <p>BYCO, kullanıcı deneyimini geliştirmek ve sitemizi daha etkili hale getirmek amacıyla çerezleri kullanabilir. Kullanıcılar, tarayıcı ayarlarını değiştirerek çerezleri reddedebilir, ancak bu durumda bazı özelliklerin çalışmayabileceğini unutmamalıdır.</p>

  <h2>5. Güvenlik:</h2>

  <p>BYCO, müşteri bilgilerini korumak için endüstri standardı güvenlik önlemlerini kullanır. Ancak, internet üzerinden iletişimin tam güvenli olamayacağını unutmayınız.</p>

  <h2>6. Değişiklikler:</h2>

  <p>Bu Gizlilik Politikası, BYCO'nun takdirine bağlı olarak zaman zaman değiştirilebilir. Değişiklikler sitemizde yayınlandıktan sonra geçerli olacaktır.</p>

  <p>Bu Gizlilik Politikası ile ilgili sorularınız veya endişeleriniz varsa lütfen bizimle iletişime geçin: <a href="mailto:iletisim@byco.com">iletisim@byco.com</a>.</p>

</div>
<div *ngIf="this.type=='gizlilik'">

</div>