<div style="padding-top: 10px;">  </div>
<style>
    .containertp {
      position: relative;
      width: 100%;
      height:fit-content;
      background-image: url(/assets/img/map-background.jpg);
      background-size: cover;
      background-position: center;
      overflow: hidden;
    }
</style>
<section>
  <div class="containertp">
     <div class="row justify-content-center">
        <div class="col-xl-12">
           <div class="tp-section-title-wrapper-2 text-center mb-50">
              <p><span style=
                "display: inline-block;
                width: 100%; 
                margin-right: 5%; 
                margin-top: 1em;
                text-align: center;
                font-family: 'Helvetica', sans-serif !important;
                font-weight: bold !important;
                font-size: 30px;
                ">
                Tamamladığımız Projeler
            </span></p>
           </div>
           <section class="tp-featured-product-area pt-70 pb-150">
            <div class="container" style="text-align: center;">
               <div style="vertical-align: top; display: inline-block; width: 130px; margin-right: 1%; text-align: justify;">
                <a routerLink="/pages/biten-projeler/konut">   
                <img 
                     src="/assets/img/byco/konut.png" 
                     alt="" 
                     style="
                        display: block; 
                        margin-left: auto; 
                        margin-right: auto;
                        margin-bottom: 1em;
                        width: 5em;
                        height: auto;"
                     >
                     <p>
                         <span style=
                      "display: inline-block;
                      width: 100%; 
                      margin-right: 5%; 
                      margin-top: 1em;
                      text-align: center;
                      font-family: 'Helvetica', sans-serif !important;
                      font-weight: bold !important;
                      ">Konut Projeleri</span></p></a>
               </div>
               <div style="vertical-align: top; display: inline-block; width: 130px; margin-right: 1%; text-align: justify;">
                <a routerLink="/pages/biten-projeler/avm">   
                <img 
                     src="/assets/img/byco/avm.png" 
                     alt="" 
                     style="
                        display: block; 
                        margin-left: auto; 
                        margin-right: auto;
                        margin-bottom: 1em;
                        width: 5em;
                        height: auto;"
                     >
                     <p>
                         <span style=
                      "display: inline-block;
                      width: 100%; 
                      margin-right: 5%; 
                      margin-top: 1em;
                      text-align: center;
                      font-family: 'Helvetica', sans-serif !important;
                      font-weight: bold !important;
                      ">AVM Projeleri</span></p></a>
               </div>
               <div style="vertical-align: top; display: inline-block; width: 130px; margin-right: 1%; text-align: justify;">
                <a routerLink="/pages/biten-projeler/ofis">   
                <img 
                     src="/assets/img/byco/ofis.png" 
                     alt="" 
                     style="
                        display: block; 
                        margin-left: auto; 
                        margin-right: auto;
                        margin-bottom: 1em;
                        width: 5em;
                        height: auto;
                     "
                  >
                  <p>
                     <span style=
                  "display: inline-block;
                  width: 100%; 
                  margin-right: 5%; 
                  margin-top: 1em;
                  text-align: center;
                  font-family: 'Helvetica', sans-serif !important;
                  font-weight: bold !important;
                  ">Ofis Projeleri</span></p></a>
               </div>
               <div style="vertical-align: top; display: inline-block; width: 130px; margin-right: 1%; text-align: justify;">
                <a routerLink="/pages/biten-projeler/kamu"> 
                <img 
                     src="/assets/img/byco/kamu.png" 
                     alt="" 
                     style="
                        display: block; 
                        margin-left: auto; 
                        margin-right: auto;
                        margin-bottom: 1em;
                        width: 5em;
                        height: auto;"
                     >
                     <p>
                         <span style=
                      "display: inline-block;
                      width: 100%; 
                      margin-right: 5%; 
                      margin-top: 1em;
                      text-align: center;
                      font-family: 'Helvetica', sans-serif !important;
                      font-weight: bold !important;
                      ">Kamu Binaları</span></p></a> 
                      
               </div>
               <div style="vertical-align: top; display: inline-block; width: 130px; margin-right: 1%; text-align: justify;">
                <a routerLink="/pages/biten-projeler/metro"> 
                <img 
                   src="/assets/img/byco/metro.png" 
                   alt="" 
                   style="
                      display: block; 
                      margin-left: auto; 
                      margin-right: auto;
                      margin-bottom: 1em;
                      width: 5em;
                      height: auto;"
                   >
                   <p>
                       <span style=
                    "display: inline-block;
                    width: 100%; 
                    margin-right: 5%; 
                    margin-top: 1em;
                    text-align: center;
                    font-family: 'Helvetica', sans-serif !important;
                    font-weight: bold !important;
                    ">Metro Projeleri</span></p></a>
             </div>
             <div style="vertical-align: top; display: inline-block; width: 130px; margin-right: 1%; text-align: justify;">
                <a routerLink="/pages/biten-projeler/karma"> 
                <img 
                   src="/assets/img/byco/karma.png" 
                   alt="" 
                   style="
                      display: block; 
                      margin-left: auto; 
                      margin-right: auto;
                      margin-bottom: 1em;
                      width: 5em;
                      height: auto;"
                   >
                   <p>
                       <span style=
                    "display: inline-block;
                    width: 100%; 
                    margin-right: 5%; 
                    margin-top: 1em;
                    text-align: center;
                    font-family: 'Helvetica', sans-serif !important;
                    font-weight: bold !important;
                    ">Karma Projeler</span></p></a>
             </div>
             <div style="vertical-align: top; display: inline-block; width: 130px; margin-right: 1%; text-align: justify;">
                <a routerLink="/pages/biten-projeler/sanayi"> 
                <img 
                   src="/assets/img/byco/sanayi.png" 
                   alt="" 
                   style="
                      display: block; 
                      margin-left: auto; 
                      margin-right: auto;
                      margin-bottom: 1em;
                      width: 5em;
                      height: auto;"
                   >
                   <p>
                       <span style=
                    "display: inline-block;
                    width: 100%; 
                    margin-right: 5%; 
                    margin-top: 1em;
                    text-align: center;
                    font-family: 'Helvetica', sans-serif !important;
                    font-weight: bold !important;
                    ">Sanayi Tesisleri</span></p></a>
             </div>
             <div style="vertical-align: top; display: inline-block; width: 130px; margin-right: 1%; text-align: justify;">
                <a routerLink="/pages/biten-projeler/diger"> 
                <img 
                   src="/assets/img/byco/diger.png" 
                   alt="" 
                   style="
                      display: block; 
                      margin-left: auto; 
                      margin-right: auto;
                      margin-bottom: 1em;
                      width: 5em;
                      height: auto;"
                   >
                   <p>
                       <span style=
                    "display: inline-block;
                    width: 100%; 
                    margin-right: 5%; 
                    margin-top: 1em;
                    text-align: center;
                    font-family: 'Helvetica', sans-serif !important;
                    font-weight: bold !important;
                    ">Diğer Projeler</span></p></a>
             </div>
            </div>
         </section>
        </div>
     </div>

     <!-- <div class="row">
        <div class="col-xl-12">
           <div class="tp-section-title-wrapper-2 text-center mb-50">
              <p><span style=
                "display: inline-block;
                width: 100%; 
                margin-right: 5%; 
                margin-top: 1em;
                text-align: center;
                font-family: 'Helvetica', sans-serif !important;
                font-weight: bold !important;
                font-size: 30px;
                ">
                 Devam Eden Tüm Projeler
            </span></p>
           </div>
        </div>
     </div> -->

     <!-- <div class="row">
        <div class="col-xl-12">
          <div class="row">
                    <div *ngFor="let item of projeBiten" class="tp-category-item-2 p-relative z-index-1 text-center col-xl-3 col-lg-4 col-md-6 col-sm-6" style="background-color: #f2f3f5;">
                       <div class="tp-category-thumb-2" *ngIf="item.tamamlanma!='devam'">
                          <a [routerLink]="['/shop/shop-details', item.id]">
                             <img [src]="item.img" alt="product-img" style="width: 350px;height: 250px">
                          </a>
                       </div>
                       <div class="tp-category-content-2" style="opacity: 0.8;">
                        <p><span style=
                            "display: inline-block;
                            width: 100%; 
                            margin-right: 5%; 
                            margin-top: 1em;
                            text-align: justify;
                            font-family: 'Helvetica', sans-serif !important;
                            font-weight: light !important;
                            font-size: 18px;
                            ">
                            {{ item.ad }}
                        </span></p>
                        <p><span style=
                            "display: inline-block;
                            width: 100%; 
                            margin-right: 5%; 
                            margin-top: 1em;
                            text-align: justify;
                            font-family: 'Helvetica', sans-serif !important;
                            font-weight: light !important;
                            ">
                            {{ item.lokasyon }}
                        </span></p>
                        <p><span style=
                            "display: inline-block;
                            width: 100%; 
                            margin-right: 5%; 
                            margin-top: 1em;
                            text-align: justify;
                            font-family: 'Helvetica', sans-serif !important;
                            font-weight: light !important;
                            ">
                            {{ item.alan }}
                        </span></p>
                        <p><span style=
                            "display: inline-block;
                            width: 100%; 
                            margin-right: 5%; 
                            margin-top: 1em;
                            text-align: justify;
                            font-family: 'Helvetica', sans-serif !important;
                            font-weight: light !important;
                            ">
                            {{ item.isveren }}
                        </span></p>
                        
                      
                       
                        
                     </div>
                    </div>
                 
              
           </div>
        </div>
     </div> -->
  </div>
</section>
