<div style="padding-top: 10px;">  </div>
<style>
    .containertp {
      position: relative;
      width: 100%;
      height:fit-content;
      background-image: url(/assets/img/map-background.jpg);
      background-size: cover;
      background-position: center;
      overflow: hidden;
    }
</style>
<section>
  <div class="containertp">
     <div class="row justify-content-center">
        <div class="col-xl-12">
           <div class="tp-section-title-wrapper-2 text-center mb-50">
              <p><span style=
                "display: inline-block;
                width: 100%; 
                margin-right: 5%; 
                margin-top: 1em;
                text-align: center;
                font-family: 'Helvetica', sans-serif !important;
                font-weight: bold !important;
                font-size: 30px;
                ">
                Tamamladığımız Projeler
            </span></p>
           </div>
           <section class="tp-featured-product-area pt-70 pb-150">
            <div class="container" style="text-align: center;">
               <div style="vertical-align: top; display: inline-block; width: 130px; margin-right: 1%; text-align: justify;">
                <a routerLink="/pages/biten-projeler/konut">   
                <img 
                     src="/assets/img/byco/konut.png" 
                     alt="" 
                     style="
                        display: block; 
                        margin-left: auto; 
                        margin-right: auto;
                        margin-bottom: 1em;
                        width: 5em;
                        height: auto;"
                     >
                     <p>
                         <span style=
                      "display: inline-block;
                      width: 100%; 
                      margin-right: 5%; 
                      margin-top: 1em;
                      text-align: center;
                      font-family: 'Helvetica', sans-serif !important;
                      font-weight: bold !important;
                      ">Konut Projeleri</span></p></a>
               </div>
               <div style="vertical-align: top; display: inline-block; width: 130px; margin-right: 1%; text-align: justify;">
                <a routerLink="/pages/biten-projeler/cafe">   
                <img 
                     src="/assets/img/byco/avm.png" 
                     alt="" 
                     style="
                        display: block; 
                        margin-left: auto; 
                        margin-right: auto;
                        margin-bottom: 1em;
                        width: 5em;
                        height: auto;"
                     >
                     <p>
                         <span style=
                      "display: inline-block;
                      width: 100%; 
                      margin-right: 5%; 
                      margin-top: 1em;
                      text-align: center;
                      font-family: 'Helvetica', sans-serif !important;
                      font-weight: bold !important;
                      ">Cafe Projeleri</span></p></a>
               </div>
               <div style="vertical-align: top; display: inline-block; width: 130px; margin-right: 1%; text-align: justify;">
                <a routerLink="/pages/biten-projeler/ofis">   
                <img 
                     src="/assets/img/byco/ofis.png" 
                     alt="" 
                     style="
                        display: block; 
                        margin-left: auto; 
                        margin-right: auto;
                        margin-bottom: 1em;
                        width: 5em;
                        height: auto;
                     "
                  >
                  <p>
                     <span style=
                  "display: inline-block;
                  width: 100%; 
                  margin-right: 5%; 
                  margin-top: 1em;
                  text-align: center;
                  font-family: 'Helvetica', sans-serif !important;
                  font-weight: bold !important;
                  ">Ofis Projeleri</span></p></a>
               </div>
               <div style="vertical-align: top; display: inline-block; width: 130px; margin-right: 1%; text-align: justify;">
                <a routerLink="/pages/biten-projeler/kurum"> 
                <img 
                     src="/assets/img/byco/kamu.png" 
                     alt="" 
                     style="
                        display: block; 
                        margin-left: auto; 
                        margin-right: auto;
                        margin-bottom: 1em;
                        width: 5em;
                        height: auto;"
                     >
                     <p>
                         <span style=
                      "display: inline-block;
                      width: 100%; 
                      margin-right: 5%; 
                      margin-top: 1em;
                      text-align: center;
                      font-family: 'Helvetica', sans-serif !important;
                      font-weight: bold !important;
                      ">Kamu Binaları</span></p></a> 
                      
               </div>
               <div style="vertical-align: top; display: inline-block; width: 130px; margin-right: 1%; text-align: justify;">
                <a routerLink="/pages/biten-projeler/devam"> 
                <img 
                   src="/assets/img/byco/diger.png" 
                   alt="" 
                   style="
                      display: block; 
                      margin-left: auto; 
                      margin-right: auto;
                      margin-bottom: 1em;
                      width: 5em;
                      height: auto;"
                   >
                   <p>
                       <span style=
                    "display: inline-block;
                    width: 100%; 
                    margin-right: 5%; 
                    margin-top: 1em;
                    text-align: center;
                    font-family: 'Helvetica', sans-serif !important;
                    font-weight: bold !important;
                    ">Devam Eden Projeler</span></p></a>
             </div>
             <div style="vertical-align: top; display: inline-block; width: 130px; margin-right: 1%; text-align: justify;">
                <a routerLink="/pages/biten-projeler/showroom"> 
                <img 
                   src="/assets/img/byco/karma.png" 
                   alt="" 
                   style="
                      display: block; 
                      margin-left: auto; 
                      margin-right: auto;
                      margin-bottom: 1em;
                      width: 5em;
                      height: auto;"
                   >
                   <p>
                       <span style=
                    "display: inline-block;
                    width: 100%; 
                    margin-right: 5%; 
                    margin-top: 1em;
                    text-align: center;
                    font-family: 'Helvetica', sans-serif !important;
                    font-weight: bold !important;
                    ">Showroom Projeleri</span></p></a>
             </div>
             <div style="vertical-align: top; display: inline-block; width: 130px; margin-right: 1%; text-align: justify;">
                <a routerLink="/pages/biten-projeler/restauran"> 
                <img 
                   src="/assets/img/byco/restauran.png" 
                   alt="" 
                   style="
                      display: block; 
                      margin-left: auto; 
                      margin-right: auto;
                      margin-bottom: 1em;
                      width: 5em;
                      height: auto;"
                   >
                   <p>
                       <span style=
                    "display: inline-block;
                    width: 100%; 
                    margin-right: 5%; 
                    margin-top: 1em;
                    text-align: center;
                    font-family: 'Helvetica', sans-serif !important;
                    font-weight: bold !important;
                    ">Restauran Projeleri</span></p></a>
             </div>
             <div style="vertical-align: top; display: inline-block; width: 130px; margin-right: 1%; text-align: justify;">
                <a routerLink="/pages/biten-projeler/magaza"> 
                <img 
                   src="/assets/img/byco/magaza.png" 
                   alt="" 
                   style="
                      display: block; 
                      margin-left: auto; 
                      margin-right: auto;
                      margin-bottom: 1em;
                      width: 5em;
                      height: auto;"
                   >
                   <p>
                       <span style=
                    "display: inline-block;
                    width: 100%; 
                    margin-right: 5%; 
                    margin-top: 1em;
                    text-align: center;
                    font-family: 'Helvetica', sans-serif !important;
                    font-weight: bold !important;
                    ">Mağaza Projeleri</span></p></a>
             </div>
            </div>
         </section>
        </div>
     </div>
  </div>
</section>
