/* Saydam arka plan katmanı */
.confirmation-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.8); /* Saydam gri arka plan */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999; /* Popup'ın önde görünmesi için yüksek z-index */
  }
  
  /* Popup içeriği */
  .popup-content {
    background: #f9f9f9;
    padding: 30px 40px;
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 320px;
    max-width: 90%;
    position: relative;
    z-index: 10000; /* Popup içeriği için daha yüksek z-index */
  }
  
  /* Sayfanın geri kalan kısmını blur yap */
  body.modal-open .tp-header-area,
  body.modal-open .tp-main-content {
    filter: blur(5px); /* Arka planı bulanıklaştır */
    opacity: 0.5; /* Arka planı biraz şeffaf yap */
    pointer-events: none; /* Popup açıkken arka plan etkileşimini kapat */
  }
  
  
  .popup-content p {
    font-size: 16px;
    color: #333;
    margin-bottom: 20px;
    line-height: 1.5;
  }
  
  /* Butonlar */
  .popup-content .btn {
    width: 100px;
    padding: 8px 12px;
    border-radius: 4px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    margin: 5px;
  }
  
  .popup-content .btn-secondary {
    background: #fff;
    color: #333;
    border: 2px solid #333;
  }
  
  .popup-content .btn-secondary:hover {
    background-color: #333;
    color: #fff;
  }
  
  .popup-content .btn-primary {
    background: #333;
    color: #fff;
    border: 2px solid #333;
  }
  
  .popup-content .btn-primary:hover {
    background-color: #444;
    color: #fff;
  }
  