<div class="tp-product-details-wrapper has-sticky">
  <div class="tp-product-details-category">
    <span>{{ product.kategori }}</span>
  </div>
  <h3 class="tp-product-details-title">{{ product.ad }}</h3>

  <!-- inventory details -->
  <div class="tp-product-details-inventory d-flex align-items-center mb-10">
    <div class="tp-product-details-stock mb-10">
      <span>{{ product.durum }}</span>
    </div>
    <!-- <div class="tp-product-details-rating-wrapper d-flex align-items-center mb-10">
      <div class="tp-product-details-rating">
        <span><i class="fa-solid fa-star"></i></span>
        <span><i class="fa-solid fa-star"></i></span>
        <span><i class="fa-solid fa-star"></i></span>
        <span><i class="fa-solid fa-star"></i></span>
        <span><i class="fa-solid fa-star"></i></span>
      </div>
      <div class="tp-product-details-reviews">
        <span>({{ product.reviews?.length }} Reviews)</span>
      </div>
    </div> -->
  </div>
  <p>
    {{ textMore ? product.aciklama : (product.aciklama.substring(0, 100) + '...') }}
    <span (click)="handleTextToggle()">{{ textMore ? 'Daha az göster' : 'Daha fazla göster' }}</span>
  </p>

  <!-- price -->
  <div class="tp-product-details-price-wrapper mb-20">
    <div *ngIf="product.indirim > 0">
      <span class="tp-product-details-price old-price">{{ product.fiyat }}₺</span>
      <span class="tp-product-details-price new-price">
        {{ ((product.fiyat || 0) - ((product.fiyat || 0) * (product.indirim || 0)) / 100).toFixed(2) }} TL
      </span>
    </div>
    <span *ngIf="product.indirim <= 0" class="tp-product-details-price new-price">
      {{ (product.fiyat || 0).toFixed(2) }} TL
    </span>
    <div *ngIf="myObject?.tip===4" class="tp-product-details-add-to-cart mb-15 w-100">
        <input type="text" [(ngModel)]="yeniFiyat" placeholder="Yeni Fiyatı buraya yazdıktan sonra butona basınız"/>
        <button (click)="fiyatGuncelle()" class="tp-product-details-add-to-cart-btn w-100">Fiyat Güncelle</button>
     </div>
  </div>

  <!-- actions -->
  <div class="tp-product-details-action-wrapper">
    <h3 class="tp-product-details-action-title">Adet</h3>
    <div class="tp-product-details-action-item-wrapper d-flex align-items-center">
       <div class="tp-product-details-quantity">
          <div class="tp-product-quantity mb-15 mr-15">
             <span (click)="cartService.decrement()" class="tp-cart-minus">
                <svg width="11" height="2" viewBox="0 0 11 2" fill="none" xmlns="http://www.w3.org/2000/svg">
                   <path d="M1 1H10" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
             </span>
             <input class="tp-cart-input" type="text" [value]="cartService.orderQuantity" disabled>
             <span (click)="cartService.increment()" class="tp-cart-plus">
                <svg width="11" height="12" viewBox="0 0 11 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                   <path d="M1 6H10" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                   <path d="M5.5 10.5V1.5" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
             </span>
          </div>
       </div>
       <div class="tp-product-details-add-to-cart mb-15 w-100">
          <button (click)="cartService.addCartProduct(product)" class="tp-product-details-add-to-cart-btn w-100">Sepete Ekle</button>
       </div>
       
       
       <div *ngIf="myObject?.tip==5" class="tp-product-details-add-to-cart mb-15 w-100">
        <button (click)="urunuSil(product)" class="tp-product-details-add-to-cart-btn w-100">Ürünü Sil</button>
     </div>
    </div>
    <a *ngIf="myObject?.tip!=0" (click)="cartService.addCartProduct(product)" [routerLink]="['/pages/checkout']" class="tp-product-details-buy-now-btn w-100 text-center">Hemen Al</a>
    <!-- <a *ngIf="myObject.tip!=='0'" [routerLink]="['/anasayfa/teklif/', product.id]" class="tp-product-details-buy-now-btn w-100 text-center" style="margin-top: 10px; background-color: rgb(27, 132, 177);">Çoklu alımlar için özel teklif alabilirsiniz</a> -->
 </div>

 <div *ngIf="isShowBottom">
   <div class="tp-product-details-action-sm">
     <div class="tp-product-details-query">
       <div class="tp-product-details-query-item d-flex align-items-center">
           <span>SKU:  </span>
           <p>{{product.kod}}</p>
       </div>
       <div class="tp-product-details-query-item d-flex align-items-center">
           <span>Kategori:  </span>
           <p>{{product.kategori}}</p>
       </div>
       <!-- <div class="tp-product-details-query-item d-flex align-items-center">
           <span>Tag: </span>
           <p>Android</p>
       </div> -->
     </div>
   </div>

   <div>
     <div class="tp-product-details-query">
     </div>
     <div class="tp-product-details-social">
       <span>Takip edin</span>
       <a href="https://x.com/byco_as" target="_blank"><i class="fa-brands fa-twitter"></i></a>
       <a href="https://www.facebook.com/bycomuhendislik" target="_blank"><i class="fa-brands fa-facebook-f"></i></a>
       <a href="https://www.linkedin.com/company/byco" target="_blank"><i class="fa-brands fa-linkedin-in"></i></a>
       <a href="https://www.instagram.com/byco_elektrik/" target="_blank"><i class="fa-brands fa-instagram"></i></a>
     </div>
     <div class="tp-product-details-msg mb-15">
       <ul>
        <li>Teslimat Süresi: Ortalama 3-5 iş günü</li>
         <li>15 gün içinde iade</li>
         <li>Müşteri desteği</li>
       </ul>
     </div>
     <div class="tp-product-details-payment d-flex align-items-center flex-wrap justify-content-between">
       <p>Guaranteed safe <br> & secure checkout</p>
       <img src="/assets/img/product/icons/payment-option.png" alt="">
     </div>
   </div>
 </div>

</div>
