<!-- header start -->
<app-header-three></app-header-three>
<!-- header end -->

<main>
  <!-- breadcrumb start -->
  <!-- <app-breadcrumb-two title="Hakkımızda" subtitle="Hakkımızda"></app-breadcrumb-two> -->
  <!-- breadcrumb end -->

  <style>
    .helvaticalight {
        display: inline-block;
        width: 100%; 
        margin-right: 5%; 
        margin-top: 1em;
        text-align: center;
        font-family: 'Helvetica', sans-serif !important;
        font-weight: light !important
    }
    .helvaticabold {
        display: inline-block;
        width: 100%; 
        margin-right: 5%; 
        margin-top: 1em;
        text-align: center;
        font-family: 'Helvetica', sans-serif !important;
        font-weight: bold !important
    }
</style>

  <!-- postbox area start -->
  <section>
    <div>
      <img src="../../../../assets/img/hizmetler/byco_1.png">
    </div>
    <div class="container" style="width: 55%; margin-left: auto; margin-right: auto;">
      <div style="text-align: center;">
        <p>
            <span class="helvaticabold" style="font-size: 30px;" >Misyonumuz</span>
        </p>
        <p>
        <span class="helvaticalight" style="text-align: center;">
          BYCO Mühendislik olarak, sürdürülebilirlik ve yönetilebilir iş anlayışımızla, teknolojik altyapımızı en verimli şekilde kullanarak sektördeki farkımızı ortaya koyuyoruz. Müşterilerimize değer katma prensibiyle hareket eden firmamız, yüksek kaliteli hizmetlerimizi uygun fiyatlarla sunmayı taahhüt eder. Güven, zamanlama hassasiyeti ve müşteri memnuniyeti odaklı yaklaşımımızla sektördeki liderliğimizi pekiştiriyoruz.
<br><br>
İnsan kaynağına yatırım yaparak ve güçlü bir takım ruhu ile çalışanlarımızın kişisel ve mesleki gelişimlerini desteklemekteyiz. Şeffaf müşteri ilişkileri yönetimimiz ve karşılıklı güvene dayalı etkileşimlerimizle, verdiğimiz taahhütleri eksiksiz ve zamanında yerine getirme konusunda öncüyüz. Firmamızın en büyük sermayesi, müşterilerimiz ve paydaşlarımız nezdinde oluşturduğumuz güven duygusudur.
<br><br>
BYCO Mühendislik, teknoloji ve yenilikçilikle harmanlanmış hizmet anlayışıyla elektrik mühendisliği alanında öncü olmayı sürdürecektir.
        </span>
        </p>
      </div>
      <br>
      <div>
        <p>
            <span class="helvaticabold" style="font-size: 30px;" >Hedeflerimiz</span>
        </p>
        <p>
            <span class="helvaticalight" style="text-align: center;">
              BYCO Mühendislik olarak vizyonumuz, sektördeki lider firmalar arasında sadece yer almak değil, aynı zamanda bu liderliği inovasyon ve mükemmellikle pekiştirmektir. Kalite ve müşteri memnuniyeti odaklı yaklaşımımızı hiçbir zaman göz ardı etmeden, emin adımlarla ilerlemeyi sürdürüyoruz.
              <br><br>
              Kurumsal kültürümüz, sürekli değişim ve adaptasyon ilkesine dayanmakta, bu ilke iş süreçlerimize derinlemesine işlenmiştir. Sürekli gelişim ve öğrenmeyi merkeze alarak, yenilikçi fikir ve önerileri büyük bir dikkatle değerlendiriyoruz. Kontrol mekanizmalarımızı, sektörün gerektirdiği teknik uzmanlık ve detaylı mühendislik bilgisine sahip kadromuzla entegre etmekteyiz.
              <br><br>
              BYCO Mühendislik, yenilikçi yapısı ve sürekli iyileştirme anlayışıyla, elektrik mühendisliği sektöründe öncü bir konum elde etmek için stratejik hedeflerini kararlılıkla sürdürecektir.
              
              
            </span>
        </p>
      </div>
      <p>
        <span class="helvaticabold" style="font-size: 30px;" >Kurucularımız</span>
    </p>
    <div class="row">
      <div class="col-xl-6 col-lg-12">
        
        <!-- <img class="abt-image" src="/assets/img/hakkimizda/hyavuz.jpg" alt="Hüseyin YAVUZ'un resmi."> -->
        <p>
            <span class="helvaticabold" style="font-size: 20px;" >Hüseyin YAVUZ</span>
        </p>
        <div class="helvaticalight" style="line-height: 1;">Kurucu - Ortak</div>
        <div class="helvaticalight" style="line-height: 1;">Makine Mühendisi</div>
        <p>
            <span class="helvaticalight" style="text-align: justify;">
          <b>Hüseyin YAVUZ</b>; lise eğitimini VKV Koç Özel 
          Lisesi’nde tamamladıktan sonra; 2007 yılında 
          Koç Üniversitesi Makine Mühendisliği Fakültesinden 
          mezun olmuştur. 2007 yılından 2013 yılına 
          kadar 1984’te kurulmuş olan  
          <a href="http://www.inancgroup.com/" style="color:blue;">
            İnanç Dış Ticaret Hizmetleri Grubu
          </a>’nda çeşitli pozisyonlarda çalışmıştır. 
          Kendi sektöründe ilk 5’te yer alan 
          firmada son olarak Müşteri İlişkileri 
          Yöneticisi konusunda edinmiş olduğu 
          tecrübeye; Grup Satınalma Başkanı ve 
          Proje Geliştirme Uzmanı sıfatları ile 
          şirketin yapmış olduğu tüm teknolojik 
          yatırımların alt yapısıyla ilgilenerek 
          gerekli tüm elektrik ve otomasyonların 
          takibini yapmıştır.
        </span>
        </p>
      </div>
      <div class="col-xl-6 col-lg-12">
        <!-- <img class="abt-image" src="/assets/img/hakkimizda/altug.jpg" alt="Emin Altuğ BAŞARAN'ın resmi."> -->
        <p>
            <span class="helvaticabold" style="font-size: 20px;">Emin Altuğ BAŞARAN</span>
        </p>
        <div class="helvaticalight" style="line-height: 1;">Kurucu - Ortak</div>
        <div class="helvaticalight" style="line-height: 1;">Elektrik & Elektronik Mühendisi</div>
        <p>
        <span class="helvaticalight" style="text-align: justify;">
          Ortaokul ve Lise eğitimini Kadıköy Anadolu Lisesi’nde tamamlayan Emin Altuğ BAŞARAN 2007 yılında Koç Üniversitesi Elektrik & Elektronik Mühendisliği Fakültesinden mezun olmuştur. Koç Üniversitesi Elektrik & Elektronik Mühendisliği Fakültesinde üniversite hayatını tamamlayan Emin Altuğ Başaran, 2007 yılından beri enerji, elektrik taahhüt ve inşaat sektöründe çalışmalarını sürdürmektedir. Bu süre zarfında Türkiye’de ve yurt dışında çeşitli endüstriyel tesis projelerinde ve çeşitli AVM, Rezidans Ofis projelerinde görevlerde bulunmuştur.
        </span>
        </p>
      </div>
    </div>
    </div>
  </section>
  <!-- postbox area end -->
</main>

<!-- footer start -->
<app-footer-two></app-footer-two>
<!-- footer end -->


