<!-- header start -->
<app-header-three></app-header-three>
<!-- header end -->

<main>
  <!-- breadcrumb start -->
  <app-breadcrumb-two title="Hakkımızda" subtitle="Hakkımızda"></app-breadcrumb-two>
  <!-- breadcrumb end -->

  <!-- postbox area start -->
  <section class="tp-postbox-area pt-120 pb-120">
    <div class="container">
      <div class="row">
        <div class="col-xl-9 col-lg-8">
          <div class="tp-postbox-wrapper pr-50">
            <div>
              <h3>
                Misyonumuz
              </h3>
              <p>
                BYCO Mühendislik sürdürülebilir ve yönetilebilir 
                ticari anlayışıyla çözüm ortağı olduğu 
                müşterilerine verdiği değer ile; farklılaşma 
                yolunda teknolojik altyapıyı en üst düzeyde kullanmaktadır.

                İnsana yatırım yapan ve ekip ruhunu 
                takımına benimseten şirket politikasının 
                değerleri uygun fiyat, kaliteli hizmet, 
                güvenilirlik, zamanlama ve müşteri memnuniyeti 
                odaklı olmasıdır. <br><br>

                BYCO Mühendislik şeffaf müşteri 
                ilişkisini karşılıklı güven ilişkisi 
                ile yöneten, verdiği taahhütleri zamanında 
                gerçekleştirmeyi şirket politikası olarak 
                benimseyen yapısıyla; verdiği güvence en 
                büyük sermayesidir.
              </p>
            </div>
            <br>
            <div>
              <h3>
                Hedeflerimiz
              </h3>
              <p>
                BYCO Mühendislik’in hedefi gelecekte sektörde
                 lider firmalar arasında yer almaktır. 
                 BYCO Mühendislik, yoluna emin adımlar 
                 ile ilerlerken kalite ve müşteri 
                 memnuniyetinden ödün vermeyen 
                 şirket politikasını benimsemiştir. <br><br>

                Değişmeyen tek şeyin değişim olduğunu 
                benimseyen kurum kültürümüzün en 
                vazgeçilmez unsuru sürekli gelişim 
                ve yaşam boyu öğrenme olduğudur. BYCO 
                Mühendislik farklılaşma amacı ile değişik 
                tüm önerileri dikkate alan; kontrol 
                mekanizmasını uzman mühendis alt yapısına 
                entegre etmiş bir sistem üzerine inşa etmiş 
                yenilikçi bir firmadır.
              </p>
            </div>
            <div class="halfpart">
              <img class="abt-image" src="/assets/img/hakkimizda/hyavuz.jpg" alt="Hüseyin YAVUZ'un resmi.">
              <h5>Hüseyin YAVUZ</h5>
              <div>Kurucu - Ortak</div>
              <div>Makine Mühendisi</div>
              <p class="abt-text">
                <b>Hüseyin YAVUZ</b>; lise eğitimini VKV Koç Özel 
                Lisesi’nde tamamladıktan sonra; 2007 yılında 
                Koç Üniversitesi Makine Mühendisliği Fakültesinden 
                mezun olmuştur. 2007 yılından 2013 yılına 
                kadar 1984’te kurulmuş olan aile şirketi 
                <a href="http://www.inancgroup.com/" style="color:blue;">
                  İnanç Dış Ticaret Hizmetleri Grubu
                </a>’nda çeşitli pozisyonlarda çalışmıştır. 
                Kendi sektöründe ilk 5’te yer alan 
                firmada son olarak Müşteri İlişkileri 
                Yöneticisi konusunda edinmiş olduğu 
                tecrübeye; Grup Satınalma Başkanı ve 
                Proje Geliştirme Uzmanı sıfatları ile 
                şirketin yapmış olduğu tüm teknolojik 
                yatırımların alt yapısıyla ilgilenerek 
                gerekli tüm elektrik ve otomasyonların 
                takibini yapmıştır. Evli ve iki 
                çocuk babası olan Hüseyin Yavuz 
                Koç Özel Lisesi (KÖL) Mezunlar derneği 
                üyesidir.
              </p>
            </div>
            <div class="halfpart">
              <img class="abt-image" src="/assets/img/hakkimizda/altug.jpg" alt="Emin Altuğ BAŞARAN'ın resmi.">
              <h5>Emin Altuğ BAŞARAN</h5>
              <div>Kurucu - Ortak</div>
              <div>Elektrik & Elektronik Mühendisi</div>
              <p class="abt-text">
                Ortaokul ve Lise eğitimini Kadıköy Anadolu 
                Lisesi’nde tamamlayan <b>Emin Altuğ BAŞARAN</b> 2007 
                yılında Koç Üniversitesi Elektrik & Elektronik 
                Mühendisliği Fakültesinden mezun olmuştur. 
                Koç Üniversitesi Elektrik & Elektronik 
                Mühendisliği Fakültesinde üniversite hayatını 
                tamamlayan Emin Altuğ Başaran, 2007 yılından 
                beri enerji, elektrik taahhüt ve inşaat 
                sektöründe çalışmalarını sürdürmektedir. 
                Bu süre zarfında Türkiye’de ve yurt dışında 
                yaklaşık 1 milyar dolar değerinde elektrik 
                santrali projelerinde, Türkiye’nin önde 
                gelen kuruluşlarının yaptığı yeni yatırım 
                tesisi projelerinde ve çeşitli AVM, 
                Rezidans Ofis projelerinde çeşitli 
                görevlerde bulunmuştur. Doktor bir 
                aileye sahip olan Emin Altuğ 
                Başaran 
                <a href="http://www.doktorburada.com/" style="color:blue;">
                  Doktorburada.com
                </a>’un kurucu 
                ortaklarındandır.
              </p>
            </div>
            <!-- <ng-container
              *ngFor="let item of blogs.slice(startIndex, endIndex);let i = index"
            >
              <app-blog-postbox-item [blog]="item"></app-blog-postbox-item>
            </ng-container> -->
            <!-- <div class="tp-blog-pagination mt-50">
              <div class="tp-pagination">
                <app-pagination-two
                  [itemsPerPage]="4"
                  [data]="blogs"
                  (handlePaginate)="handlePagination($event)"
                ></app-pagination-two>
              </div>
            </div> -->
          </div>
        </div>
        <!-- <div class="col-xl-3 col-lg-4"> -->
          <!-- blog sidebar start -->
          <!-- <app-blog-sidebar></app-blog-sidebar> -->
          <!-- blog sidebar end -->
        <!-- </div> -->
      </div>
    </div>
  </section>
  <!-- postbox area end -->
</main>

<!-- footer start -->
<app-footer-two></app-footer-two>
<!-- footer end -->


