<!-- header start -->
<app-header-three></app-header-three>
<!-- header end -->

<main>
<!-- hero banner start -->
<!-- <app-hero-banner-two></app-hero-banner-two>

<app-fashion-category></app-fashion-category> -->
<!-- fashion category end -->

<!-- fashion popular product start -->

<!-- <app-beauty-special-products></app-beauty-special-products> -->

<app-fashion-new-trending-items></app-fashion-new-trending-items>

<!-- <app-fashion-popular-products></app-fashion-popular-products> -->






<!-- fashion popular product end -->

<!-- fashion all products start -->
<!-- <app-fashion-all-products></app-fashion-all-products>

<app-fashion-featured-products></app-fashion-featured-products>

<app-fashion-new-trending-items></app-fashion-new-trending-items>

<app-fashion-best-sell-items></app-fashion-best-sell-items>

<app-fashion-testimonial></app-fashion-testimonial>

<app-fashion-blog-area></app-fashion-blog-area>

<app-feature-two></app-feature-two>

<app-instagram-area-two></app-instagram-area-two> -->

</main>

<div style="margin-top: 100px;"></div>

<!-- footer start -->
<app-footer-two></app-footer-two>
<!-- footer end -->
