<div class="nav-header">
  <ul class="main-category-list">
    <li *ngFor="let category of categories" class="category-item"
        (mouseover)="showSubMenu(category)" 
        (mouseleave)="hideSubMenu()">
      <!-- Ana kategoriye tıklanınca URL değişiyor -->
      <a (click)="navigateWithCategory(category.name)">{{ category.name }}</a>
    </li>
  </ul>
</div>

<!-- Subcategory Menu -->
<div class="sub-category-container" 
     [class.show]="isSubMenuVisible"
     *ngIf="selectedCategory"
     (mouseover)="showSubMenu(selectedCategory)"
     (mouseleave)="hideSubMenu()">
  <div class="sub-category-list">
    <ul>
      <li *ngFor="let subCategory of selectedCategory.subCategories">
        <!-- Alt kategoriye tıklanınca URL değişiyor -->
        <a (click)="navigateWithCategory(subCategory.name)">{{ subCategory.name }}</a>
        <ul>
          <li *ngFor="let thirdLevel of subCategory.thirdLevels">
            <!-- Üçüncü seviyeye tıklanınca URL değişiyor -->
            <a (click)="navigateWithCategory(thirdLevel.name)">{{ thirdLevel.name }}</a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</div>
