 <!-- header start -->
 <app-header-three></app-header-three>
 <!-- header end -->
 <style>
    .helvaticalight {
        display: inline-block;
        width: 100%; 
        margin-right: 5%; 
        margin-top: 1em;
        text-align: justify;
        font-family: 'Helvetica', sans-serif !important;
        font-weight: light !important
    }
    .helvaticabold {
        display: inline-block;
        width: 100%; 
        margin-right: 5%; 
        margin-top: 1em;
        text-align: center;
        font-family: 'Helvetica', sans-serif !important;
        font-weight: bold !important
    }
</style>

 <!-- breadcrumb area start -->
 <section class="breadcrumb__area include-bg text-center pt-95 pb-50">
  <div class="container">
     <div class="row">
        <div class="col-xxl-12">
           <div class="breadcrumb__content p-relative z-index-1">
              <h3 class="breadcrumb__title helvaticabold">İletişim</h3>
              <div class="breadcrumb__list helvaticalight">
                 <span><a href="Anasayfa">Anasayfa</a></span>
                 <span>İletişim</span>
              </div>
           </div>
        </div>
     </div>
  </div>
</section>
<!-- breadcrumb area end -->

<!-- contact area start -->
<section class="tp-contact-area pb-100">
  <div class="container">
     <div class="tp-contact-inner">
        <div class="row">
           
           <div class="col-xl-5 col-lg-5">
              <div class="tp-contact-info-wrapper">
                 <div class="tp-contact-info-item helvaticalight">
                    <div class="tp-contact-info-icon">
                       <span>
                          <img src="assets/img/contact/contact-icon-1.png" alt="">
                       </span>
                    </div>
                    <div class="tp-contact-info-content">
                       <p data-info="mail"><a href="mailto:contact@shofy.com">info@byco.com.tr</a></p>
                       <p data-info="phone"><a href="tel:0216-356-29-26">0216 356 29 26</a></p>
                    </div>
                 </div>
                 <div class="tp-contact-info-item">
                    <div class="tp-contact-info-icon">
                       <span>
                          <img src="assets/img/contact/contact-icon-2.png" alt="">
                       </span>
                    </div>
                    <div class="tp-contact-info-content">
                       <p>
                          <a href="https://maps.app.goo.gl/J9FCo8KAbTCdvriq5" target="_blank">
                            Küçükbakkalköy Mahallesi Koca Sinan Cad. Denizatı Apt. No:8/10A Ataşehir İstanbul
                          </a>
                       </p>
                    </div>
                 </div>
                 <div class="tp-contact-info-item">
                    <div class="tp-contact-info-icon">
                       <span>
                          <img src="assets/img/contact/contact-icon-3.png" alt="">
                       </span>
                    </div>
                    <div class="tp-contact-info-content">
                       <div class="tp-contact-social-wrapper mt-5">
                          <h4 class="tp-contact-social-title">Bizi takip edin</h4>

                          <div class="tp-contact-social-icon">
                             <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
                             <a href="#"><i class="fa-brands fa-twitter"></i></a>
                             <a href="#"><i class="fa-brands fa-linkedin-in"></i></a>
                          </div>
                       </div>
                    </div>
                 </div>
              </div>
           </div>
           <div class="col-xl-7 col-lg-7">
            <div class="tp-contact-wrapper">
               <h3 class="tp-contact-title helvaticabold">Mesaj Bırakabilirsiniz
               </h3>

               <div class="tp-contact-form helvaticalight">
                  <!-- contact form start -->
                  <app-contact-form></app-contact-form>
                  <!-- contact form end -->
                  <p class="ajax-response"></p>
               </div>
            </div>
         </div>
         <div class="row">
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3011.983962966858!2d29.1174695!3d40.981832!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14cac36f44fe5b8d%3A0xbaf4aa950bad02a0!2zQllDTyBBLsWe!5e0!3m2!1str!2str!4v1706610368410!5m2!1str!2str" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
         </div>
        </div>
     </div>
  </div>
</section>
<!-- contact area end -->

<!-- footer start -->
<app-footer-two></app-footer-two>
<!-- footer end -->
