<!-- header start -->
<app-header-three></app-header-three>
<!-- header end -->

<main>

    <style>
        ::marker { 
          color: black;
        }
        .helvaticalight {
            display: inline-block;
            width: 100%; 
            margin-right: 5%; 
            margin-top: 1em;
            text-align: center;
            font-family: 'Helvetica', sans-serif !important;
            font-weight: light !important
        }
        .helvaticabold {
            display: inline-block;
            width: 100%; 
            margin-right: 5%; 
            margin-top: 1em;
            text-align: center;
            font-family: 'Helvetica', sans-serif !important;
            font-weight: bold !important
        }
    </style>
  <!-- section title area start -->
  <section class="tp-section-title-area pt-95 pb-80">
    <div class="container">
      <div class="row">
        <div class="col-xl-8">
          <div class="tp-section-title-wrapper-7">
            <p>
                <span class="helvaticabold" style="font-size: 30px; text-align: justify;" >Hizmetlerimiz</span>
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- section title area end -->

   <!-- blog grid area start -->
   <section class="tp-blog-grid-area pb-120">
    <div class="container">
       <div class="row">
          
            

        <div class="col-xl-4 col-lg-3">
            <div class="tp-blog-grid-item p-relative mb-30">
                <div class="tp-blog-grid-thumb w-img fix mb-30">
                   <a>
                      <img src="../../../../assets/img/hizmetler/zayifakim.png" alt="blog-img">
                   </a>
                </div>
                <div class="tp-blog-grid-content">
                   
                   <h3 class="tp-blog-grid-title">
                      <a class="helvaticabold">Zayıf Akım Sistemleri<br><br></a>
                   </h3>
                   <p><span class="helvaticabold" style="text-align: justify;">Zayıf akım sistemleri, bir bina içinde neredeyse tüm bilgi ve kontrol akışlarını sağlar,  tüm iş akışları ve iş süreçleri için temel oluştururlar.</span></p>
              
                   <div class="tp-blog-grid-btn">
                    <ul class="helvaticalight" style="text-align: justify;">
                        <li>Seslendirme & Acil Anons Sistemi</li>
                        <li>Yangın Algılama ve İhbar Sistemleri</li>
                        <li>Kartlı Geçiş Sistemi</li>
                        <li>TV/IPTV/SMATV Sistemi</li>
                        <li>Data Sistemi</li>
                        <li>Otopark Yönlendirme Sistemi</li>
                        <li>Merkezi Saat Sistemi</li>
                        <li>Telsiz Sistemi</li>
                        <li>SCADA</li>
                        <li>Yolcu Bilgilendirme Sistemi (YBS)</li>
                        <li>Sinyalizasyon Sistemi</li>
                      </ul>
                   </div>
                </div>
              </div>
        </div>


        <div class="col-xl-4 col-lg-3">
                <div class="tp-blog-grid-item p-relative mb-30">
                    <div class="tp-blog-grid-thumb w-img fix mb-30">
                       <a>
                          <img src="../../../../assets/img/hizmetler/alcakgerilim.png" alt="blog-img">
                       </a>
                    </div>
                    <div class="tp-blog-grid-content">
                       
                       <h3 class="tp-blog-grid-title">
                          <a class="helvaticabold">Alçak Gerilim<br>Elektrik Taahhüt İşleri</a>
                       </h3>
                       <p><span class="helvaticabold" style="text-align: justify;">Alçak gerilim şebekeleri 1 volt ile 1 000 volt (1kV) arası gerilime sahip olan şebekelerdir. Bu şebekeler dağıtım trafolarından tüketicilere (abone) kadar olan elektrik hatlarından oluşur.</span></p>
                  
                       <div class="tp-blog-grid-btn">
                        <ul class="helvaticalight" style="text-align: justify;">
                            <li>Busbar Dağıtım Sistemi</li>
                            <li>Dağıtım, MCC ve Kompanzasyon Panoları</li>
                            <li>Kablo Taşıma Sistemi </li>
                            <li>Aydınlatma Armatür Tesisatları </li>
                            <li>Aydınlatma-İklimlendirme Otomasyonu </li>
                            <li>Jeneratör Sistemi </li>
                            <li>UPS Tesisatları ve Bina Otomasyonu </li>
                            <li>Yıldırımdan Korunma ve Topraklama </li>
                            <li>SCADA ve Enerji İzleme Otomasyonu </li>
                          </ul>
                          <br>
                          <br>
                          <br>
                       </div>
                    </div>
                  </div>
        </div>


                  <div class="col-xl-4 col-lg-3">
                  <div class="tp-blog-grid-item p-relative mb-30">
                    <div class="tp-blog-grid-thumb w-img fix mb-30">
                       <a>
                          <img src="../../../../assets/img/hizmetler/ortagerilim.png" alt="blog-img">
                       </a>
                    </div>
                    <div class="tp-blog-grid-content">
                       
                       <h3 class="tp-blog-grid-title">
                          <a class="helvaticabold">Orta Gerilim<br>Elektrik Taahhüt İşleri</a>
                       </h3>
                       <p><span class="helvaticabold" style="text-align: justify;">Orta gerilim şebekeleri 1000 volt (1 kV) ile 35 000 volt (35 kV) gerilimler arasındaki şebekelerdir. Bu şebekeler yüksek ve çok yüksek gerilim şebekeleri ile alçak gerilim şebekelerinin birbirine bağlanması işleminde kullanılır.</span></p>
                  
                       <div class="tp-blog-grid-btn">
                        <ul class="helvaticalight" style="text-align: justify;">
                            <li>O.G. Enerji Temini & Dağıtımı</li>
                            <li>Transformatör & O.G. Temini ve Tesisat İşleri</li>
                            <li>Test ve Devreye Alma İşleri</li>
                            <li>Enerji Müsaade Belgesi Temini</li>
                            <li>Elektrik İdaresi Kabul İşleri</li>                           
                          </ul>
                          <br>
                          <br>
                          <br>
                          <br>
                          <br>
                       </div>
                    </div>
                  </div>              
          </div>

          <div class="col-xl-4 col-lg-3">
            <div class="tp-blog-grid-item p-relative mb-30">
              <div class="tp-blog-grid-thumb w-img fix mb-30">
                 <a>
                    <img src="../../../../assets/img/hizmetler/elektrikaraba.jpg" alt="blog-img">
                 </a>
              </div>
              <div class="tp-blog-grid-content">
                 
                 <h3 class="tp-blog-grid-title">
                    <a class="helvaticabold">Elektrikli Şarj<br>İstasyonu Kurulumu</a>
                 </h3>
                 <p><span class="helvaticabold" style="text-align: justify;">Elektrikli şarj istasyonu kurulumu, elektrikli araç sahiplerine şarj hizmeti sunmak için gerekli olan altyapıyı oluşturur. Bu hizmet, çevre dostu ulaşımın teşviki ve elektrikli araç kullanımının yaygınlaştırılması için önemli bir adımdır.</span></p>
            
                 <div class="tp-blog-grid-btn">
                  <ul class="helvaticalight" style="text-align: justify;">
                      <li>Şarj İstasyonu Tipi Seçimi ve Kurulumu</li>
                      <li>Elektrik Bağlantıları ve Altyapı Düzenlemeleri</li>
                      <li>Ödeme ve Abonelik Sistemleri</li>
                      <li>Şarj İstasyonu Konumlandırma ve Trafik Akışı Analizi</li>
                      <li>İstasyon Çevresi Altyapı Geliştirmeleri (Aydınlatma, Yol İşaretleri vb.)</li>
                      <li>Şarj İstasyonu Ağının Entegrasyonu ve Genişletilmesi</li>                           
                    </ul>
                    <br>
                    <br>
                    <br>
                    <br>
                 </div>
              </div>
            </div>              
    </div>

    <div class="col-xl-4 col-lg-3">
      <div class="tp-blog-grid-item p-relative mb-30">
        <div class="tp-blog-grid-thumb w-img fix mb-30">
           <a>
              <img src="../../../../assets/img/hizmetler/musavir.jpeg" alt="blog-img">
           </a>
        </div>
        <div class="tp-blog-grid-content">
           
           <h3 class="tp-blog-grid-title">
              <a class="helvaticabold">Müşavirlik<br>Hizmetleri</a>
           </h3>
           <p><span class="helvaticabold" style="text-align: justify;">Online ve yüz yüze müşavirlik hizmeti, müşterilere iş ve profesyonel danışmanlık ihtiyaçları için çevrimiçi platformlar ve fiziksel buluşmalar aracılığıyla destek sunar. Bu hizmet, işletmelerin ve bireylerin çeşitli konularda uzman görüşlerine erişimini sağlarken, danışmanlık süreçlerini verimli bir şekilde yürütmelerine olanak tanır.</span></p>
      
           <div class="tp-blog-grid-btn">
            <ul class="helvaticalight" style="text-align: justify;">
               <li>Stratejik Planlama ve Yönetim Danışmanlığı</li>
               <li>Finansal Planlama</li>
               <li>Analiz Hizmetleri</li>
               <li>Kurumsal Değişim Yönetimi</li>
               <li>Pazar Araştırması ve Analizi</li>
               <li>Operasyonel Verimlilik Danışmanlığı</li>           
              </ul>
              <br>
              <br>
              <br>
           </div>
        </div>
      </div>              
</div>

    <div class="col-xl-4 col-lg-3">
        <div class="tp-blog-grid-item p-relative mb-30">
          <div class="tp-blog-grid-thumb w-img fix mb-30">
             <a>
                <img src="../../../../assets/img/hizmetler/satis.png" alt="blog-img">
             </a>
          </div>
          <div class="tp-blog-grid-content">
             
             <h3 class="tp-blog-grid-title">
                <a class="helvaticabold">Online ve Mağaza<br>Ürün Satışı</a>
             </h3>
             <p><span class="helvaticabold" style="text-align: justify;">Online ve mağaza satışı hizmeti, müşterilere ürün veya hizmetlerin çevrimiçi platformlar aracılığıyla veya fiziksel mağazalarda sunulmasını sağlar. Bu hizmet, işletmelerin geniş bir müşteri kitlesine erişimini artırırken, satış süreçlerini optimize etmelerine olanak tanır.</span></p>
        
             <div class="tp-blog-grid-btn">
              <ul class="helvaticalight" style="text-align: justify;">
                  <li>Ürün Depolama ve Dağıtım Altyapısı</li>
                  <li>Sipariş Yönetimi ve Müşteri Hizmetleri</li>
                  <li>Klemens Satışı</li>
                  <li>Ampul Satışı</li>
                  <li>Priz Satışı</li>
                  <li>Elektronik Malzeme Satışı</li> 
                  <li>Yardımcı Elektronik Satışı</li>                            
                </ul>
                <br>
                <br>
                <br>
             </div>
          </div>
        </div>              
</div>
       </div>
    </div>
 </section>
 <!-- blog grid area end -->
</main>


<!-- footer start -->
<app-footer-two></app-footer-two>
<!-- footer end -->
